@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --brand-color: #2196f3;
  --tex-color: #212121;
  --background-color: #2f303a;
}

body {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  color: var(--tex-color);
  margin: 0;
  line-height: 1em;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--brand-color);
}

header .menu a,
.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--tex-color);
}

header .menu a:hover {
  color: var(--brand-color);
}

button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
header .contacts a:hover {
  color: var(--brand-color);
}
main .title {
  font-weight: 900;
  color: #ffffff;
  line-height: 1.3;
}
.hero {
  background-color: var(--background-color);
}
main .title-content {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.text {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  line-height: 1.7;
}
.section-we-dedicate {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: var(--tex-color);
}
.ocupation {
  font-size: 16px;
  color: #757575;
  line-height: 1.1;
}
.fondo {
  background-color: #f5f4fa;
}

.access-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
}
.portafolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.description {
  font-size: 16px;
  color: #757575;
  line-height: 1.8;
}
.access-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
}
.current {
  color: var(--brand-color);
}
footer {
  background-color: #2f303a;
}

footer.contacts {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.7;
}
footer .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--brand-color);
}
