@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
  margin: 0;
  line-height: 1em;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
.button:focus {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: #2196f3;
}

.link {
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
}
.current {
  color: #2196f3;
}
.link-contacts {
  font-weight: 500;
  font-size: 14;
  line-height: 1.1;
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
}
.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.link-contacts:hover,
.link-contacts:focus {
  color: #2196f3;
}
.link:hover {
  color: #2196f3;
}
main .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
  line-height: 1.3;
}
main .title:hover,
main .title:focus {
  color: #2196f3;
}
.hero {
  background-color: #2f303a;
}
main .title-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
.title-text :focus,
.title-text :hover {
  color: #2196f3;
}
.text {
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  line-height: 1.7;
  font-family: 'Roboto';
  font-style: normal;
}
.img-index:hover,
.img-index:focus,
.img-index:active {
  color: #2196f3;
  border: 4px solid;
}
.section-we-dedicate {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  font-family: 'Roboto';
  font-style: normal;
}
.section-we-dedicate:focus,
.section-we-dedicate:hover {
  color: #2196f3;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  font-family: 'Roboto';
  font-style: normal;
}
.team:focus,
.team:hover {
  color: #2196f3;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
}
.name:hover,
.name:focus {
  color: #2196f3;
}
.ocupation {
  font-size: 16px;
  color: #757575;
  line-height: 1.1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
.ocupation:hover,
.ocupation:focus {
  color: #2196f3;
}
.fondo {
  background-color: #f5f4fa;
}

.access-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
}
.active {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
}
.portafolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  font-family: 'Roboto';
  font-style: normal;
}

.description {
  font-size: 16px;
  color: #757575;
  line-height: 1.8;
  font-family: 'Roboto';
  font-style: normal;
}
.description:hover,
.description:focus {
  color: #2196f3;
}
.title-p:hover,
.title-p:focus {
  color: #2196f3;
}
.img-port:focus,
.img-port:hover,
.img-port :active {
  color: #2196f3;
  border: 4px solid;
}
.access-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
footer {
  background-color: #2f303a;
}

.information {
  font-size: 14;
  color: #ffffff;
  line-height: 1.7;
  font-family: Roboto;
  font-style: normal;
}
footer .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: #2196f3;
}
.information:hover,
.information:focus {
  color: #2196f3;
  cursor: pointer;
}
address {
  font-style: normal;
}
